.body {
    background-color: cyan;
}
.main_title {
    text-align: center;
    color: red;
}
.headers {
    color: blue;
}
.main_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}